.checkout-container {
  min-height: 100vh;
}
.checkout-frame16 {
  width: 100%;
  height: 1551px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.checkout-mac-book-pro142 {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 1551px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.checkout-tiktok1 {
  top: 1478px;
  left: 635px;
  width: 29px;
  height: 29px;
  position: absolute;
  border-color: transparent;
}
.checkout-facebook1 {
  top: 1478px;
  left: 688px;
  width: 29px;
  height: 29px;
  position: absolute;
  border-color: transparent;
}
.checkout-instagram1 {
  top: 1478px;
  left: 740px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.checkout-twitter1 {
  top: 1478px;
  left: 794px;
  width: 29px;
  height: 29px;
  position: absolute;
  border-color: transparent;
}
.checkout-linkedin1 {
  top: 1478px;
  left: 846px;
  width: 30px;
  height: 29px;
  position: absolute;
  border-color: transparent;
}
.checkout-text {
  top: 1401px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-text02 {
  top: 1399px;
  left: 1125px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-text04 {
  top: 1432px;
  left: 1125px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-text06 {
  top: 1458px;
  left: 1125px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-text08 {
  top: 1484px;
  left: 1125px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-text10 {
  top: 1489px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-text12 {
  top: 1439px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-text14 {
  top: 1465px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-navlink {
  display: contents;
}
.checkout-rainy-days-logo {
  top: 18px;
  left: 663px;
  width: 186px;
  height: 101px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.checkout-navlink1 {
  display: contents;
}
.checkout-shoppingbag2 {
  top: 44px;
  left: 1434px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-color: transparent;
  text-decoration: none;
}
.checkout-searchinterfacesymbol2 {
  top: 54px;
  left: 1399px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.checkout-text16 {
  top: 55px;
  left: 98px;
  color: rgba(0, 0, 0, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-text18 {
  top: 55px;
  left: 202px;
  color: rgba(0, 0, 0, 1);
  width: 104px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-text20 {
  top: 55px;
  left: 333px;
  color: rgba(0, 0, 0, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-text22 {
  top: 55px;
  left: 486px;
  color: rgba(0, 0, 0, 1);
  width: 132px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-group25 {
  top: 1137px;
  left: 1176px;
  width: 260px;
  height: 18px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.checkout-text24 {
  color: rgba(255, 255, 255, 1);
  width: 260px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.checkout-text26 {
  top: 1589px;
  left: 997px;
  color: rgba(255, 255, 255, 1);
  width: 260px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-text28 {
  top: 412px;
  left: 636px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-rainy-days-jacket6 {
  top: 464px;
  left: 775px;
  width: 194px;
  height: 234px;
  position: absolute;
  border-color: transparent;
}
.checkout-text30 {
  top: 482px;
  left: 459px;
  color: rgb(0, 0, 0);
  width: 436px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.checkout-text31 {
  font-weight: 700;
}
.checkout-group22 {
  top: 744px;
  left: 472px;
  width: 676.3636474609375px;
  height: 68.36363220214844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.checkout-group34 {
  top: 0px;
  left: 0px;
  width: 676.3636474609375px;
  height: 68.36363220214844px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.checkout-navlink2 {
  display: contents;
}
.checkout-rectangle19 {
  top: 0px;
  left: 127.7578125px;
  width: 421px;
  height: 56px;
  position: absolute;
  text-decoration: none;
}
.checkout-text46 {
  top: 12px;
  color: rgba(255, 255, 255, 1);
  width: 676px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
