.frame2-container {
  min-height: 100vh;
}
.frame2-frame2 {
  width: 100%;
  height: 1741px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame2-frame1 {
  top: 0px;
  left: 0px;
  width: 428px;
  height: 1741px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame2-group10 {
  top: 0px;
  left: 0px;
  width: 428px;
  height: 1741px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame2-group3 {
  top: 0px;
  left: 0px;
  width: 428px;
  height: 1741px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame2-group2 {
  top: 0px;
  left: 0px;
  width: 428px;
  height: 1741px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame2-group4 {
  top: 0px;
  left: 0px;
  width: 428px;
  height: 1741px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame2-group5 {
  top: 0px;
  left: 0px;
  width: 428px;
  height: 1741px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame2-i-phone13pro-max1 {
  top: 0px;
  left: 0px;
  width: 428px;
  height: 1741px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame2-rectangle12 {
  top: 1406px;
  left: 0px;
  width: 428px;
  height: 335px;
  position: absolute;
  border-color: transparent;
}
.frame2-shoppingbag1 {
  top: 31px;
  left: 376px;
  width: 39px;
  height: 39px;
  position: absolute;
  border-color: transparent;
}
.frame2-hamburger1 {
  top: 31px;
  left: 15px;
  width: 39px;
  height: 39px;
  position: absolute;
  border-color: transparent;
}
.frame2-text {
  top: 85px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text01 {
  font-weight: 700;
}
.frame2-tiktok1 {
  top: 1696px;
  left: 94px;
  width: 29px;
  height: 29px;
  position: absolute;
  border-color: transparent;
}
.frame2-facebook1 {
  top: 1696px;
  left: 147px;
  width: 29px;
  height: 29px;
  position: absolute;
  border-color: transparent;
}
.frame2-instagram1 {
  top: 1696px;
  left: 199px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: transparent;
}
.frame2-twitter1 {
  top: 1696px;
  left: 253px;
  width: 29px;
  height: 29px;
  position: absolute;
  border-color: transparent;
}
.frame2-linkedin1 {
  top: 1696px;
  left: 305px;
  width: 30px;
  height: 29px;
  position: absolute;
  border-color: transparent;
}
.frame2-text05 {
  top: 830px;
  left: 128px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text06 {
  font-weight: 700;
}
.frame2-text07 {
  top: 1250px;
  left: 120px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text09 {
  top: 630px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text11 {
  top: 1416px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text13 {
  top: 1564px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text15 {
  top: 1597px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text17 {
  top: 1623px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text19 {
  top: 1649px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text21 {
  top: 1504px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text23 {
  top: 1454px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text25 {
  top: 1480px;
  left: 33px;
  color: rgba(0, 0, 0, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-rainy-days-jacket2 {
  top: 163px;
  left: 24px;
  width: 167px;
  height: 213px;
  position: absolute;
  border-color: transparent;
}
.frame2-rainy-days-jacket21 {
  top: 905px;
  left: 243px;
  width: 167px;
  height: 213px;
  position: absolute;
  border-color: transparent;
}
.frame2-rainy-days-jacket7 {
  top: 404px;
  left: 240px;
  width: 170px;
  height: 190px;
  position: absolute;
  border-color: transparent;
}
.frame2-rainy-days-jacket3 {
  top: 391px;
  left: 15px;
  width: 185px;
  height: 224px;
  position: absolute;
  border-color: transparent;
}
.frame2-rainy-days-jacket6 {
  top: 900px;
  left: 23px;
  width: 181px;
  height: 218px;
  position: absolute;
  border-color: transparent;
}
.frame2-rainy-days-jacket1 {
  top: 162px;
  left: 418px;
  width: 190px;
  height: 209px;
  position: absolute;
  border-color: transparent;
}
.frame2-rainy-days-logo {
  top: 4px;
  left: 150px;
  width: 122px;
  height: 66px;
  position: absolute;
  border-color: transparent;
}
.frame2-searchinterfacesymbol1 {
  top: 39px;
  left: 348px;
  width: 23px;
  height: 23px;
  position: absolute;
  border-color: transparent;
}
.frame2-rectangle11 {
  top: 1128px;
  left: 240px;
  width: 173px;
  height: 51px;
  position: absolute;
}
.frame2-group22 {
  top: 718px;
  left: 31px;
  width: 366px;
  height: 64px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame2-rectangle9 {
  top: 0px;
  left: 73.5px;
  width: 220px;
  height: 64px;
  position: absolute;
}
.frame2-text27 {
  top: 12px;
  color: rgba(255, 255, 255, 1);
  width: 366px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-group17 {
  top: 1128px;
  left: -29px;
  width: 260px;
  height: 51px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame2-rectangle10 {
  top: 0px;
  left: 44px;
  width: 173px;
  height: 51px;
  position: absolute;
}
.frame2-text29 {
  top: 11px;
  color: rgba(255, 255, 255, 1);
  width: 260px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame2-text31 {
  top: 1305px;
  left: 84px;
  color: rgba(0, 0, 0, 1);
  width: 260px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame2-text33 {
  top: 1139px;
  left: 196px;
  color: rgba(255, 255, 255, 1);
  width: 260px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
